@keyframes spinAround {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes skeleton-loading {
  from {
    background-color: rgba(0,0,0,.05);
  }

  to {
    background-color: rgba(0,0,0,.08);
  }
}

@keyframes skeleton-loading-dark {
  from {
    background-color: rgba(255,255,255,.15);
  }

  to {
    background-color: rgba(255,255,255,.18);
  }
}
